body {
    background-image: url('https://content3.jdmagicbox.com/comp/def_content/lodging_services/default-lodging-services-6.jpg');
    background-repeat: no-repeat;
    background-size: 1400px 400px;
}

.red {
    text-align: right;
}